@import "./variables";

/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $primary-font;
  padding: 0 100px;
  max-width: 1440px;
  margin: 45px auto;

  @media (max-width: 768px) {
    margin: 20px auto;
    padding: 0 20px;
  }

  .headerLinks {

    ul {
      display: flex;
      list-style: none;
      gap: 57px;

      @media (max-width: 768px) {
        gap: 26px;
      }

      a {
        color: $primary-font-color;
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;

        @media (max-width: 768px) {
          font-size: 12px;
        }


        &.activeLink {
          border-bottom: 2px solid;
          padding-bottom: 1px;
        }
      }
    }
  }
}