@import "./Variables";

.HomeContainer {
    height: auto;
    background-color: #f6f6f6;    
    max-width: 1240px;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 43px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    align-content: space-evenly;
    padding-top: 31px;
    padding-bottom: 18px;

    @media (max-width: 768px) {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: white;
    }
}
