@import "./variables";

.hostContainer {
    display: flex;
    width: 167px;
    height: 64px;
    gap:10px;

    .hostPicture {
        width: 64px; /* Taille fixe */
        height: 64px; /* Taille fixe */
        border-radius: 50%; /* Cercle parfait */
        object-fit: cover;
    }

    .hostName {
        color: $primary-color;
        font-weight: 500;
        font-size: 18px;
        text-align: right;
        align-items: center;
        display: flex;
        line-height: 26px;
    }
}