// Variables de couleur
$primary-color: #FF6060;

// Variables de police
$primary-font: 'Montserrat', sans-serif;

// Variable pour la couleur de la police
$primary-font-color: #000000;
$secondary-font-color: #FFFFFF;