@use "../../Variables" as *;

.homeContainer {
    height: auto;
    background-color: #f6f6f6;    
    max-width: 1240px;    
    border-radius: 25px;    
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 31px 0 18px;
    margin: 43px auto 50px;

    @media (max-width: 768px) {
        margin: 0;
        padding: 0;
        background-color: white;
    }
}
